{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
    {% if data %}

    <table  border="1" class="table table-dark">
  <tr>
    <th scope="col">Sl.No</th>
    <th scope="col">Feedback</th>
    <th scope="col">Date</th>
    <th scope="col">Rescue info</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.feedback }}&nbsp;</td>
    <td>{{ i.date }}&nbsp;</td>
    <td>&nbsp;Name:{{ i.RESCUET.username}}<br>
    Contact : {{ i.RESCUET.email }}

    </td>
  </tr>
    {% endfor %}
</table>
{% else %}
        <br>
        <br>
        <center style="color: red">No Feedback Yet...</center>
{% endif %}
</form>
</body>
</html>
{% endblock %}
